/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/04/2015, 03:03:50
    Author     : anna
*/

body {
    margin: 0;
}
#container {
    position: absolute;
    width: 500px;
    height: 500px;
} 